<div data-controller='admin' class="container">
<h1> Create Schedule </h1>
<% if flash.alert.present? %>
 <div class="alert alert-danger" role="alert">
  <%= flash.alert %>
 </div>
<% end %>

<% if flash.notice.present? %>
  <div class="alert alert-success" role="alert">
   <%= flash.notice %>
  </div>
<% end %>

<%= form_with url: create_path do |f|  %>
  <div class="form-group row">
    <label class="col-4 col-form-label" for="select">Jobs</label>
    <div class="col-8">
      <%= select_tag "jobType",  options_for_select(@jobs), class: "custom-select", "data-target": "admin.job"  %>
    </div>
  </div>
  <div class="form-group row">
    <label for="text" class="col-4 col-form-label">Params</label>
    <div class="col-8">
      <input id="text" name="jobParams" type="text" class="form-control" data-target="admin.jobParams">
    </div>
  </div>

  <div class="form-group row">
    <label for="text" class="col-4 col-form-label">Cron Expression</label>
    <div class="col-8">
      <input id="cron" name="cron" type="text" class="form-control" data-action="input->admin#checkCron" data-target="admin.cronExpression">
    </div>
  </div>

  <div class="form-group row">
    <label for="text" class="col-4 col-form-label">Quick Schedule</label>
    <div class="col-8">
      <button type="button" data-exp = "*/1 * * * *" class="btn btn-info" data-action="admin#quickSchedule">Every Minute</button>
      <button type="button" data-exp = "0 8 * * *" class="btn btn-info">Daily 8 AM</button>
      <button type="button" data-exp = "0 0 1 * *" class="btn btn-info">First day of month</button>
    </div>
  </div>

  <div class="form-group row">
    <div class="offset-4 col-8">
       <%= f.submit 'Create Job', id: 'submitButton', class: 'btn btn-primary', "data-target": 'admin.submitButton' %>
    </div>
  </div>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Job Name</th>
      <th scope="col">Interval</th>
      <th scope="col">Params</th>
    </tr>
  </thead>
  <tbody data-target="admin.status">
     <% @scheduled_jobs.each_with_index do |scheduled_job, index| %>
       <tr>
       <td> <%= index + 1 %></td>
       <td> <%= scheduled_job.job_class %> </td>
       <td> <%= scheduled_job.readable_interval %>  </td>
       <td> <%= scheduled_job.params %> </td>
      <td>
       <%= form_with url: destroy_job_path,   method: :post  do |f| %>
          <%= f.hidden_field :jobId, :value => scheduled_job.job_id %>
           <%= f.submit 'Delete', class: 'btn btn-danger'  %>
       <% end %>
       </td>
       <td>
         <%= form_with url: run_job_path,   method: :post  do |f| %>
            <%= f.hidden_field :job_class, :value => scheduled_job.job_class %>
            <%= f.hidden_field :job_params, :value => scheduled_job.params %>
            <%= f.submit 'Run Now', class: 'btn btn-primary'  %>
         <% end %>
       </td>
       </tr>
     <% end %>
  </tbody>
</table>
<%= stylesheet_link_tag  '/assets/white_rabbit', media: 'all', 'data-turbolinks-track': 'reload'  %>
<%= javascript_include_tag '/assets/white_rabbit' %>
</div>
